html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(252, 252, 245);
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
a:visited{
  text-decoration: none; 
  color: rgb(167, 73, 238);
}
a:hover{
  color: rgb(103, 0, 182);
}

@media only screen and (max-width: 600px) {
  div{
    font-size: 12px !important
  }
}