html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
a:visited{
  text-decoration: none; 
  color: rgb(87, 87, 255);
}
a:hover{
  color: rgb(0, 0, 252);
}